﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Register" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="stylesheet" type="text/css" href="scripts/extjs/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="scripts/main.css"/>
    <script type="text/javascript" src="scripts/extjs/ext-all-dev.js"></script>
    <script type="text/javascript" src="scripts/devjs/app.js"></script>
         <%-- <link rel="stylesheet" type="text/css" href="scripts/bootstrap.css"/>--%>
 
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    
    </form>
</body>
</html>
